@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Beastly&display=swap');

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#heading{
    text-align: center;
    color: white;
    padding: 10px;
    margin: 20px;
    font-family: 'Permanent Marker', cursive;
    }

.heading-2{
    text-align: center;
}

#txt-input{
    width: 60%;
    height: 10vh;
    display: block;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#output {        
    border: 1px solid black;
    height: 10vh;
    width: 60%;
    background-color: white;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#btn-translate{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        width: 150px;
        height: 50px;
        background: white;
        color: blue;
        border-radius: 40px;
        font-size: larger;
}

#info{
    color: white;
}

#footer{
    color: white;
    padding: 10px;
    margin: 10px;
    margin: auto;
}

#heading-footer{
    text-align: center;
}

#footer-para{
    text-align: center;
    font-size: larger;
}

#info{
    text-align: center;
    font-size: x-large;
    margin-top: 1rem;
}